<html>
    <!-- MARIELENA NUÑEZ ROMERO
        PROGRAMACION AVANZADA EN INTERNET
        UNIDAD 3 VUE
        11.- Realiza un login utilizando un json local haciendo uso de map, fetch  
        12.- Completa el login, guardar en sesión js los datos y muestra una tabka con los datos
        13.- Crear el crud completo con los datos del json

    -->
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            body{
                background-color: rgb(213, 168, 255);
            }
            table.customTable {
                width: 90%;
                background-color: #FFFFFF;
                border-collapse: collapse;
                border-width: 3px;
                border-color: #9e35fa;
                border-style: dashed;
                color: #000000;
                margin-left: 60px;
                margin-top: 20px;
            }

            table.customTable td, table.customTable th {
                border-width: 3px;
                border-color: #911BF8;
                border-style: dashed;
                padding: 5px;
            }

            table.customTable thead {
                background-color: #9F7EF8;
            }
            
        </style>
    </head>
    <body>
        <div class="container" id="container_app">

            <form v-if="!is_login">
                <fieldset>
                    <legend>Email</legend>
                    <input v-model="email" type="email" placeholder="Ingresa tu correo" name="">
                </fieldset>
                <fieldset>
                    <legend>Password</legend>
                    <input v-model="password" type="password" placeholder="Ingresa tu contraseña " name="">
                </fieldset>
                <button @click="login" type="button">
                    Entrar
                </button>
            </form>
            <div v-if="is_login">
                <table class="customTable" >
                    <h2> LISTA DE USUARIOS</h2>
                    <thead>
                    <tr>
                        <th>Informacion Personal</th>
                        <th>Contacto</th>
                        <th>Rol</th>
                        <th>Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="u in users">
                        <td>{{u.name}}  {{u.lastname}}</td>
                        <td>{{u.email}}</td>
                        <td>{{u.role_id}}</td>
                        <td>
                            <button @click="edit(u)">Editar</button>
                            <button @click="remove(u.id)">Eliminar</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <hr>
                <button @click="action= 'add'">
                    Añadir Nuevo Usuario
                </button> 
                <hr>

                <div class="rendered-form" v-if="action=='add'">
                    <div class="">
                        <h1 access="false">AGREGAR NUEVO USUARIO</h1></div>
                    <div>
                        <label for="text-"> Nombre Completo</label>
                        <input v-model="new_users.name" type="text" placeholder="Ingrese su Nombre Completo">
                    </div>
                    <div>
                        <label for="text-"> Correo Electrónico</label>
                        <input v-model="new_users.email" type="text" placeholder="Ingrese su Correo Electrónico">
                    </div>
                    <div>
                        <label for="text-"> Rol</label>
                        <input v-model="new_users.rol" type="text" placeholder="Ingrese su Rol en la Empresa">
                    </div>
                    <div>
                        <button type="button" @click="save('create')">Guardar Usuario</button>
                    </div>
                </div>
                <div class="rendered-form" v-if="action=='edit'">
                    <div class="">
                        <h1 access="false">EDITAR INFORMACION DEL USUARIO</h1></div>
                    <div>
                        <label for="text-"> Nombre Completo</label>
                        <input v-model="new_users.name" type="text" placeholder="Ingrese su Nombre Completo">
                    </div>
                    <div>
                        <label for="text-"> Correo Electrónico</label>
                        <input v-model="new_users.email" type="text" placeholder="Ingrese su Correo Electrónico">
                    </div>
                    <div>
                        <label for="text-"> Rol</label>
                        <input v-model="new_users.rol" type="text" placeholder="Ingrese su Rol en la Empresa">
                    </div>
                    <input type="hidden" v-model="new_users.id">
                    <div>
                        <button type="button" @click="save('update')">Guardar Usuario Actualizado</button>
                    </div>
                </div>
            </div>
           
            <!-- <h1>{{ message }}</h1> -->
            <!-- <h1>HOLA {{name}}</h1>
            <br>
            <input type="text" v-model="name" name="">
            <button @click="count++">
                CLICK ME:{{count}}
            </button>
            <br>
            <input type="" v-model="num1" name=""> <br>
            <input type="" v-model="num2" name="">
            <br>
            <button @click="resultado=((+num1)+(+num2))">
                suma
            </button>
            <br>
            <h3>EL RESULTADO ES:  <span v-if="resultado!=0">{{resultado}}</span></h3>

           <hr>
            <form action="">
                <fieldset>
                    <legend>
                        NOMBRE
                    </legend>
                    <input type="text" v-model="username" name="">
                </fieldset>
                <fieldset>
                    <legend>
                        APELLIDO
                    </legend>
                    <input type="text" v-model="lastname" name="">
                </fieldset>
                <button type="button" v-on:click="addPerson">
                    Save Data
                </button>
            </form>
            <hr>
            <ul>
                <li v-for="item in persons">
                    {{item.name}} - {{item.lastname}}
                </li>
            </ul>
        </div> -->

        <script src="https://unpkg.com/vue@3/dist/vue.global.js"> </script> 
        <script type="text/javascript"> 

            const{createApp, ref} = Vue
            createApp({
                setup(){
                    users = ref([]);
                    email = ref(''); password = ref('');
                    action = ref('');
                    new_users = ref([]);

                    let temporal = localStorage.getItem("is_login");
                    if (temporal == null) {
                        temporal = false
                    }
                    is_login = ref(temporal);

                    return {
                       users,
                       email,
                       password,
                       is_login,
                       action,
                       new_users
                    }
                },
                mounted: function(){
                    const getUsers = async () => {
                        const response = await fetch("users.json");
                        const temporal_users = await response.json();
                        console.log(temporal_users)
                        this.users = temporal_users;
                    }
                    if (this.is_login) {
                        getUsers()
                    }

                },
                methods:{
                    async login(){
                        //traer datos
                        const response = await fetch("users.json?v=1");
                        this.users = await response.json();
                        
                        this.is_login = false;
                        //recorrer datos
                        this.users.forEach((user) => {
                            // comprobar datos
                            if(this.email == user.email){
                                if(this.password == user.password){
                                    this.is_login = true;
                                    alert("BIENVENIDO")
                                    localStorage.setItem("user_data", JSON.stringify(user));
                                    localStorage.setItem("is_login", "true");
                                }
                            }
                         });
                        if (!this.is_login){
                            alert("VERIFIQUE SUN INFORMACION")
                        } 
                    },
                    edit(target){
                        this.action = 'edit';
                        this.new_users.name = target.name;
                        this.new_users.email = target.email;
                        this.new_users.rol = target.role_id;
                        this.new_users.id = target.id;
                    },
                    save(action){
                        this.new_users.role_id = this.new_users.rol;
                        if (action == 'create') {
                            this.new_users.id = microtime = (Date.now() % 1000) / 1000;
                            this.users.push(this.new_users);
                            this.new_users = [];
                            alert("USUARIO AGREGADO CON EXITO")  
                        }
                        if (action == 'update') {
                            this.users.forEach((user) => {
                                if (user.id == this.new_users.id) {
                                    user.name = this.new_users.name;
                                    user.email = this.new_users.email;
                                    user.role_id = this.new_users.rol;
                                    alert("USUARIO ACTUALIZADO CON EXITO") 
                                }
                            })
                            
                        }
                       this.action = '';
                    },
                    remove(id){
                        console.log(id);
                        let c = 0;
                        let i = 0;

                        this.users.forEach((user)=> {
                            if (user.id == id) {
                                console.log(user.id)
                                i = c;
                            }
                            c++;
                        })
                        console.log(i);
                        this.users.splice(i,1);
                    }
                }
            }).mount('#container_app')





            // const{createApp, ref} = Vue
            // createApp({
            //     setup(){
            //         // const message = ref('HOLA VUE')
            //         const message = "";
            //         const name = "";
            //         const num1 = 0;
            //         const num2 = 0;
            //         const username = ref(''); lastname = ref('');
            //         const persons = ref([]);

            //         return {
            //             // message
            //             name: ref('NOMBRE'),
            //             count: ref(10),
            //             num1: ref(0),
            //             num2: ref(0),
            //             resultado: ref(0),
            //             username,
            //             lastname,
            //             persons
            //         }
            //     },
            //     methods:{
            //         addPerson(){
            //             const person ={
            //                 name:this.username,
            //                 lastname:this.lastname
            //             }
            //             this.persons.push(person)
            //             // console.log(this.username)
            //             // console.log(this.lastname)
            //         }
            //     }

            // }).mount('#container_app')

        </script>        
    </body>
</html>
